site_name: geogee
site_description: A Python package for geospatial analysis
site_author: Ly Mot
site_url: https://lymot.github.io/geogee
repo_url: https://github.com/LyMot/geogee

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - search.highlight

plugins:
  - search
  - mkdocs-jupyter:
      include_source: true
      execute: true

markdown_extensions:
  - attr_list
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - Contributing: contributing.md
  - FAQ: faq.md
  - Report Issues: https://github.com/geogee/geogee/issues
  - API Reference:
      - common module: common.md
      - geogee module: geogee.md
      - utils module: utils.md
  - Notebooks:
      - notebooks/ipyleaflet_intro.ipynb
      - notebooks/Folium_intro.ipynb
      - notebooks/geogee_intro.ipynb

