site_name: geogee
site_description: A Python package for geospatial analysis
site_author: Ly Mot
site_url: https://lymot.github.io/geogee
repo_url: https://github.com/LyMot/geogee

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - search.highlight

plugins:
  - search
  - mkdocs-jupyter:
      include_source: true
      execute: true

markdown_extensions:
  - attr_list
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - Notebooks:
      - Ipyleaflet Intro: notebook/ipyleaflet_intro.ipynb
      - Folium Intro: notebook/Folium_intro.ipynb
    